@use '../variables';

.app-introduction {

    &__container {
        display: flex;
        position: relative;
        margin: auto;
        padding: 5rem 5rem;
        background-color: variables.$color-primary;
        border-radius: 1rem;
        color: variables.$white-color;
    }

    &__grid {
        width: 50%;

        &__description {
            margin: 2.3rem 0rem;
        }
        
        &__list {
            display: flex;
            margin-bottom: 2rem;
            gap: 2rem;

            &__left__item, &__right__item {
                display: flex;
                align-items: center;
                gap: 0.3rem;
                margin: 1rem 0rem;

                span {
                    background-color: variables.$accent-orange;
                    border-radius: 100%;
                }
            }
        }

        &__download-app {
            img {
                cursor: pointer;
            }
        }
    }

    &__app {
        position: absolute;
        right: 5%;
        bottom: -5px;
    }
}