@use '../variables';

.app-introduction {

    &__container {
        display: flex;
        position: relative;
        margin: auto;
        padding: 5rem;
        background-color: variables.$color-primary;
        border-radius: 1rem;
        color: variables.$white-color;

        @media (max-width: 1100px) {
            height: 100%;
            padding: 2rem;
            padding-bottom: 28rem;

            @media (max-width: 850px) {
                padding-bottom: 23rem;
            }
        }
    }

    &__grid {
        width: 50%;

        @media (max-width: 1100px) {
            width: 100%;
        }

        &__description {
            margin: 2.3rem 0rem;
        }
        
        &__list {
            display: flex;
            margin-bottom: 2rem;
            gap: 2rem;

            @media (max-width: 650px) {
                flex-direction: column;
                gap: 0;
            }

            &__left__item, &__right__item {
                display: flex;
                align-items: center;
                gap: 0.3rem;
                margin: 1rem 0rem;

                @media (max-width: 850px) {
                    margin: 1rem 0 0 0;
                }

                span {
                    background-color: variables.$accent-orange;
                    border-radius: 100%;
                }
            }
        }

        &__download-app {
            @media (max-width: 540px) {
                display: flex;
                justify-content: center;
            }

            img {
                cursor: pointer;
                width: 300px;
                
                @media (max-width: 850px) {
                    width: 250px;

                    @media (max-width: 540px) {
                        width: 200px;
                    }
                }
            }
        }
    }

    &__app {
        position: absolute;
        right: 5%;
        bottom: -5px;

        @media (max-width: 1100px) {
            left: 50%; 
            right: auto; 
            transform: translateX(-50%);

            img {
                width: 300px;

                @media (max-width: 850px) {
                    width: 180px;
                }
            }
        }
    }
}