@use '../variables';
@use '../mixins';

.faq {
    margin: 7rem 0rem;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__grid {
        width: 50%;

        &__title {
            font-size: 3rem;
            margin-bottom: 3rem;
        }

        &__communication {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            &__tel, &__email {
                display: flex;
                align-items: center;
                gap: 1rem;

                .material-symbols-outlined {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: variables.$color-primary;
                    background-color: #fdc6b2;
                    border-radius: 100%;
                    height: 30px;
                    width: 30px;
                    padding: 1.5rem;
                    font-size: 1.7rem;
                }

                &__infos {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;

                    &__span {
                        color: rgb(163, 163, 163);
                    }

                    &__a {
                        font-weight: 600;
                    }
                }
            }
            
            &__btn {
                margin-top: 2rem;
                width: 30%;
                @include mixins.btn-reset();
                @include mixins.btn-light();
                display: flex;
                gap: 0.5rem;
                padding: 0;

                span {
                    transition: transform 0.3s ease-in-out;
                }

                &:hover span {
                    transform: translateX(0.3rem);
                }
            }
        }
    }

    &__questions {
        width: 50%;

        &__item {
            cursor: pointer;
            margin: 1rem 0rem;

            &__question {
                font-size: 1.2rem;
                margin: 1rem 0rem 0.5rem 0rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__btn {
                    font-size: 2rem;
                    color: variables.$color-primary;
                    transition: transform 0.2s ease;
                    pointer-events: none;
                    user-select: none;
                }
            }

            &__answer {
                overflow: hidden;
                max-height: 0;
                transition: max-height 0.4s ease;
                color: rgb(73, 73, 73);
            }

            &--is-open {
                .faq__questions__item__question__btn {
                    transform: rotate(45deg);
                }

                .faq__questions__item__answer {
                    max-height: 500px;
                }
            }
        }
    }
}