@use '../variables';

.footer {
    padding: 0rem 0rem;

    .container--flex {
        padding: 5rem 23rem;
    }

    &__title {
        color: variables.$color-primary;
    }

    &__content {
        display: flex;
        gap: 8rem;
    }

    &__list {
        &__title {
            margin-bottom: 1.5rem;
        }

        &__item {
            color: variables.$medium-gray;
            margin: 0.5rem 0rem;
            cursor: pointer;

            &:hover {
                color: variables.$dark-gray;
            }
        }
    }

    &__credits {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0rem;
        color: variables.$medium-charcoal;

        &__links {
            display: flex;
            gap: 1rem;

            &__item:hover {
                color: variables.$dark-charcoal;
                cursor: pointer;
            }
        }
    }
}