@use '../variables';

.footer {
    padding: 0rem 0rem;

    .title--small-orange {
        @media (max-width: 1780px) {
            margin-bottom: 3rem;
        }
    }

    .container {
        @media (max-width: 850px) {
            padding: 0;
        }
    }

    .container--flex {
        padding: 5rem 23rem;

        @media (max-width: 1780px) {
            flex-direction: column;
            padding: 5rem 15rem;
                
            @media (max-width: 1540px) {
                padding: 5rem 11rem;
            }
        
            @media (max-width: 1220px) {
                padding: 5rem 1rem;
            }

            @media (max-width: 1100px) {
                padding: 5rem 0;
            }
        }
    }

    &__title {
        color: variables.$color-primary;
    }

    &__content {
        display: flex;
        gap: 8rem;

        @media (max-width: 630px) {
            gap: 3rem;
        }

        @media (max-width: 460px) {
            flex-direction: column;
            align-self: start;
            margin-left: 10%;
        }
    }

    &__list {
        &__title {
            margin-bottom: 1.5rem;
        }

        &__item {
            color: variables.$medium-gray;
            margin: 0.5rem 0rem;
            cursor: pointer;

            &:hover {
                color: variables.$dark-gray;
            }
        }
    }

    &__credits {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0rem;
        color: variables.$medium-charcoal;

        @media (max-width: 850px) {
            flex-direction: column;
            margin-bottom: 1rem;
            align-items: start;
            margin-left: 10%;

            &__platform {
                margin-bottom: 1rem;
            }
        }

        &__links {
            display: flex;
            gap: 1rem;

            @media (max-width: 850px) {
                gap: 1rem;
                flex-direction: column;
            }

            &__item:hover {
                color: variables.$dark-charcoal;
                cursor: pointer;

            }
        }
    }
}