@use '../variables';
@use '../mixins';

.header {
    .container {
        margin: 2rem 0rem;
    }

    &__logo {
        color: variables.$color-primary;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.05rem;
    }
    
    &__nav {
        &__list {
            display: flex;
            gap: 0.5rem;

            &__item {
                font-size: 1.1rem;
                padding: 0.5rem 1rem;
                border-radius: 0.2rem;
                display: flex;
                align-items: center;
                cursor: pointer;
                font-weight: 600;

                span {
                    margin-left: 0.5rem;
                }

                &:hover {
                    color: variables.$color-primary;
                }
            }
        }
    }

    &__auth-menu {
        &__login {
            @include mixins.btn-light();
        }

        &__register {
            @include mixins.btn-secondary();
        }

        &__login, &__register {
            @include mixins.btn-reset();
        }
    }
}

.header {
    @media (max-width: 1200px) {
        display: none;
    }
}