@use '../mixins';

.heroCards {
    height: auto;
    margin: 10rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__grid {
        text-align: center;

        &__subTitle {
            font-size: 1.5rem;
        }

        &__title {
            font-size: 3.5rem;
            margin: 0.5rem 0rem;
        }

        &__description {
            font-size: 1.3rem;
            margin: 1em 0em;
        }
    }

    &__cards {
        margin: 2rem 0rem;
    }

    &__btns {
        display: flex;
        gap: 1rem;

        &__register, &__compare {
            @include mixins.btn-reset();
        }

        &__register {
            @include mixins.btn-secondary();
        }

        &__compare {
            @include mixins.btn-tertiary();
        }
    }
}