@use '../variables';
@use '../mixins';

.hero {
    height: auto;
    margin: 14rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__grid {
        width: 50%;

        &__title {
            font-size: 4.5rem;
        }

        &__descripition {
            display: block;
            padding: 1rem 0rem;
            font-size: 1.5rem;
        }

        &__list {
            display: flex;
            gap: 5rem;
            margin-bottom: 3rem;

            &__right, &__left {
                &__itrem {
                    font-size: 1rem;
                    display: flex;
                    margin-bottom: 1rem;

                    span {
                        margin-right: 0.5rem;
                        color: variables.$color-primary;
                    }
                }
            }
        }

        &__btns {
            display: flex;

            &__register {
                @include mixins.btn-secondary();
            }

            &__cards {
                @include mixins.btn-light();
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all 0.3s ease-in-out;

                span {
                    margin-left: 0.5rem;
                    transition: transform 0.3s ease-in-out;
                }

                &:hover span {
                    transform: translateX(0.3rem);
                }
            }

            &__cards, &__register {
                @include mixins.btn-reset();
            }
        }
    }
}