@use '../mixins';

.hero-cards {
    height: auto;
    margin: 10rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .title--medium {
        margin: 1rem 0rem;
    }

    .container--flex {
        flex-direction: column;
    }

    &__grid {
        text-align: center;
    }

    &__image {
        margin: 2rem 0rem;
    }

    &__actions {
        display: flex;
        gap: 1rem;

        &__register, &__compare {
            @include mixins.btn-reset();
        }

        &__register {
            @include mixins.btn-secondary();
        }

        &__compare {
            @include mixins.btn-tertiary();
        }
    }
}