@use '../variables';
@use '../mixins';

.hero {
    height: auto;
    margin: 14rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .title--big {
        margin-bottom: 1rem;
    }

    &__grid {
        width: 50%;

        &__descripition {
            display: block;
            margin: 2rem 0rem;
        }

        &__features {
            display: flex;
            gap: 5rem;
            margin: 3rem 0rem;

            &__list {
                &__item {
                    font-size: 1rem;
                    display: flex;
                    margin-bottom: 1rem;
                    
                    span {
                        margin-right: 0.5rem;
                        color: variables.$color-primary;
                    }
                }
            }
        }

        &__actions {
            display: flex;

            &__register {
                @include mixins.btn-secondary();
            }

            &__cards {
                @include mixins.btn-light-compare();
            }
        }
    }
}