.testimonials {
    padding: 3rem 0rem;

    &__sectionTitle {
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: end;

        &__rating {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.1rem;

            img {
                background-color: #f7e7e1;
                padding: 0.3rem;
                border-radius: 100%;
            }
        }

        &__title {
            font-size: 4rem;
        }
    }

    &__content {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto; 
        row-gap: 0.5rem;
        column-gap: 2rem;
        margin: 4rem 0rem;

        &__card {
            padding: 2rem;
            border: 3px solid #afafaf;
            border-radius: 1rem;

            &__title {
                font-size: 1.5rem;
                margin: 0.5rem 0rem;
            }

            &__user {
                margin: 1rem 0rem;
                display: flex;
                flex-direction: column;

                &__name {
                    font-size: 1.3rem;
                }

                &__profession {
                    color: #838383;
                }
            }
        }
    }
}