@use '../variables';

.testimonials {
    padding: 3rem 0rem;

    &__sectionTitle {
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: end;

        @media (max-width: 1400px) {
            gap: 1rem;
            flex-direction: column;
            align-items: start;
            margin: 1rem 0rem;
        }

        &__rating {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.1rem;

            img {
                background-color: variables.$light-orange;
                padding: 0.3rem;
                border-radius: 100%;
                width: 1.7rem;
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto; 
        align-items: center;
        row-gap: 0.5rem;
        column-gap: 2rem;
        margin: 4rem 0rem;

        @media (max-width: 1450px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        @media (max-width: 1200px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
        }

        &__card {
            padding: 2rem;
            border: 3px solid variables.$neutral-gray;
            border-radius: 1rem;

            .title--small {
                margin: 0.5rem 0rem;
            }        

            &__user {
                margin: 1rem 0rem;
                display: flex;
                flex-direction: column;

                &__name {
                    font-size: 1.3rem;
                }

                &__profession {
                    color: variables.$medium-gray;
                }
            }
        }
    }
}