@use '../variables';

.transactions {
    position: relative;
    padding: 7rem 0rem;
    background-color: #F8EFEB;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__grid {
        width: 50%;

        &__title {
            font-size: 3.5rem;
        }

        &__description {
            margin: 2rem 0rem;
            display: block;
        }

        &__list {
            gap: 2rem;
            display: flex;
            flex-direction: column;

            &__item {
                display: flex;

                &__icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2rem;
                    height: 2rem;
                    padding: 0.5rem;
                    margin-right: 1rem;
                    border-radius: 100%;
                    color: #fff;
                    background-color: variables.$color-primary;
                }
            }
        }
    }

    &__services {
        position: absolute;
        right: 17%;
        bottom: -5px;
    }
}