@use './variables';

@mixin btn-reset($border: none) {
    border: $border;
    cursor: pointer;
}

@mixin btn($fontSize: 1.2rem, $padding: 0.6rem 1.5rem) {
    @include btn-reset();

    font-size: $fontSize;
    padding: $padding;
    font-weight: 600;
    border-radius: 0.2rem;
} 

@mixin btn-light() {
    @include btn();

    @media (max-width: 850px) {
        @include btn(1rem, 0.5rem 1rem);
    }

    @media (max-width: 650px) {
        @include btn(0.8rem, 0.4rem 1rem);
    }


    background: none;
    color: variables.$color-primary;

    &:hover {
        color: lighten(variables.$color-primary, 15%);
    }
}

@mixin btn-light-compare() {
    @include btn-light();

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;

    span {
        margin-left: 0.5rem;
        transition: transform 0.3s ease-in-out;

        @media (max-width: 650px) {
            font-size: 20px;
        }
    }

    &:hover span {
        transform: translateX(0.5rem);
    }
}

@mixin btn-secondary() {
    @include btn();

    @media (max-width: 850px) {
        @include btn(1rem);
    }

    @media (max-width: 650px) {
        @include btn(0.8rem);
    }

    background-color: variables.$color-primary;
    color: variables.$white-color;

    &:hover {
        background-color: darken(variables.$color-primary, 5%);
    }
}

@mixin btn-tertiary() {
    @include btn();

    @media (max-width: 850px) {
        @include btn(1rem);
    }

    @media (max-width: 650px) {
        @include btn(0.8rem);
    }
    
    border: 1px solid variables.$light-gray;
    background-color: transparent;
    border-radius: 0.2rem;

    &:hover {
        background-color: darken(variables.$light-gray, 1%);
    }
}