@use './variables';

@mixin btn-reset() {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
}

@mixin btn-light() {
    background: none;
    color: variables.$color-primary;

    &:hover {
        color: lighten(variables.$color-primary, 15%);
    }
}

@mixin btn-secondary() {
    background-color: variables.$color-primary;
    color: #fff; 

    &:hover {
        background-color: darken(variables.$color-primary, 5%);
    }
}

@mixin btn-tertiary() {
    border: 1px solid rgb(189, 188, 188);
    background-color: transparent;
    border-radius: 0.2rem;

    &:hover {
        background-color: darken(rgb(189, 188, 188), 1%);
    }
}