// Colors

// Orange
$color-primary: #FF4500;
$accent-orange: #f87343;
$light-peach: #fdc6b2;
$light-orange: #F8EFEB;

// Gray
$dark-gray: #414040;
$medium-gray: #6e6e6e;
$light-gray: #bdbcbc;
$neutral-gray: #afafaf;

// Charcoal
$dark-charcoal: #1D1D1D;
$medium-charcoal: #4D4D4D;

// White
$white-color: #fff;