@use 'reset';
@use 'variables';

//partials
@use '../scss/partials/header';
@use '../scss/partials/hero';
@use '../scss/partials/features';
@use '../scss/partials/transactions';
@use '../scss/partials/hero-cards';
@use '../scss/partials/testimonials';
@use '../scss/partials/app-introduction';
@use '../scss/partials/faq';
@use '../scss/partials/footer';

html {
    font-size: 16px;
}

body {
    color: variables.$dark-charcoal;
}

@mixin text($fontSize: 1.5rem) {
    font-size: $fontSize;
}

@mixin title($fontSize: 3rem, $color: variables.$dark-charcoal) {
    @include text($fontSize);
    color: $color;
}

.text {
    @include text();
}

.text--small {
    @include text(1rem);
}

.text--medium {
    @include text(2rem);
}

.title {
    @include title();
}

.title--small {
    @include title(1.5rem);
}

.title--small-orange {
    @include title(1.5rem, variables.$color-primary);
}

.title--medium {
    @include title(3.5rem);
}

.title--big {
    @include title(4rem);
}

.title--big-light {
    @include title(4rem, variables.$white-color);
}

.container {
    width: 100%;
    margin: auto;
    padding: 0 23rem;
}

.container--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    height: 2px;
    width: 100%;
    background-color: variables.$light-gray;
}

.emphasis {
    color: variables.$color-primary;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: variables.$color-primary; 
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darken(variables.$color-primary, 10%); 
}